html, body{ margin: 0px; padding: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:1em;
    background-color:#ff8b2d;
}

h1,h2,h3,h4,h5,h6 {
    font-variant: small-caps;
}

a:link{
    color:#009;
}

a:visited{
    color:#A0A;
}

#header{
    background-color:#3f48cc;
    color:#FFF;
    padding-bottom:1em;
    padding-top:0.5em;
    padding-left: 2em;
}

#logo{ 
    display:block;
    width:9%;
    height:5em;
    float:left;
    background-image: url(../Foto/logo.png);
    background-repeat: no-repeat;
    margin:1em;
    margin-left:2em;
    padding-left:1.5em;
    padding-top:2.0em;
    padding-bottom:0.5em;
    padding-right:1.0em;
}


.indirizzo{
    display:block;
}

#path{
    background-color:#000;
    color:#88BBEE;
    padding:0.2em;
    padding-left:1.0em;
}

#nav{
    width:17%;
    float:left;
    margin-right:0.5em;
    padding-left:0.5em;
}

#nav ul{
    margin:0;
    padding:0.2em;
    list-style-type:none;
}

#nav li{
    padding-top:1em;
}

#nav ul ul {
    font-size:0.8em;
    padding-left:1em;
}

#nav ul ul li:before {
	content: ">";
}

#corpo{
    background-color:#FFF;
    margin:0px;
    padding:0.1em 1.5em 0.5em;
    margin-left:17%;
}

#articolo{
	display: block;
}

#img1{
    float: left;
    padding:0.1em 0.1em 0.1em;
}


#links{
	display: block;
}

#piede{
    clear:both;
    font-size:0.7em;
    background-color:#000000;
    color:#8BE;
    padding:0.5em;
}